<component name="ArtifactManager">
  <artifact type="war" name="spring-aop-demo:war">
    <output-path>$PROJECT_DIR$/spring-aop-demo/target</output-path>
    <root id="archive" name="springAOP-demo.war">
      <element id="artifact" artifact-name="spring-aop-demo:war exploded" />
    </root>
  </artifact>
</component>